{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% for asset_url in [
        'assets/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css',
        'assets/select2/select2.css',
        ] %}
            <link rel="stylesheet" href="{% set rep = asset_url|split('/')|first %}{{ asset(rep)~asset_url[rep|length:] }}" type="text/css"/>
    {% endfor %}
{% endblock %}

{%  block javascripts_head %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/avanzuadmintheme/static/'~app.environment~'/scripts/admin-lte-all.js') }}"></script>
{% endblock %}

{% block title %}
    Sedona SBO
{% endblock title %}

{% block page_content %}
    {% include 'AppBundle:Form:layout_waiting.html.twig' %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                <i class="fa {% if label == 'success' %}fa-check{% elseif label == 'notice' %}fa-info{% else %}fa-warning{% endif %}"></i>
                <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block content %}{% endblock content %}
{% endblock page_content %}

{% block javascripts %}
    <script language="JavaScript">
        var myApplication = {
            locale: '{{ app.request.locale }}'
        }
    </script>

    {% for asset_url in [
        'assets/form/jquery.form.js',
        'bundles/fosjsrouting/js/router.js',
        'assets/moment/min/moment.min.js',
        'assets/select2/select2.js',
        ] %}
            <script type="text/javascript" src="{% set rep = asset_url|split('/')|first %}{{ asset(rep)~asset_url[rep|length:] }}"></script>
    {% endfor %}
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {%if app.request.getLocale() != 'en' %}
        {% for asset_url in [
            'assets/moment/locale/'~app.request.getLocale()~'.js',
            'assets/select2/select2_locale_'~app.request.getLocale()~'.js',
            ] %}
                <script type="text/javascript" src="{% set rep = asset_url|split('/')|first %}{{ asset(rep)~asset_url[rep|length:] }}"></script>
        {% endfor %}
    {% endif %}

    {% for asset_url in [
        'assets/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js',
        'bundles/sedonasboruntime/js/SBOExtra.js',
        ] %}
            <script type="text/javascript" src="{% set rep = asset_url|split('/')|first %}{{ asset(rep)~asset_url[rep|length:] }}"></script>
    {% endfor %}
{% endblock %}

{% block avanzu_admin_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        Footer
    </footer>
{% endblock %}
